
.pagestyle{
	display:block;
	float:right;
	width:550px;
	margin-bottom:20px;
	
}
.pagestyle span{
	display:inline;
    float:left;
	padding-left:10px;
}
.pagestyle ul li{
	display:inline;
	float:left;
	padding-left:10px;
		
}
.pagestyle ul li span{
	color:#eee;
	font-size:10px;
	
}

.pagestyle ul li span a{
	  text-decoration:none;
}
.pagestyle .active{
	color:#61c0f2;
}

